* {
	box-sizing: border-box;
	font-size: 10px;
	font-family: Calibri, Arial, sans-serif;
	letter-spacing: 0.05rem;
	margin: 0;
}

.app {
	width: 98vw;
	height: 98vh;
	margin: 1vh 1vw;
}

@media screen and (max-width: 650px) {
	* {
		font-size: calc(100vw * 0.015);
	}
}
